*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* DEKSTOP */

#grid-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "main"
        "footer";
}
    /* HEADER */
#inicio_header{
    grid-area:header;
    background-color: #20B2AA;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 75px;
    width: 100%;
    padding: 5px 40px;
}

.logo_container{
    display: flex;
    align-items: center;
    margin-right: auto;
}

.logo_container p{
    font-size: 25px;
    font-style: italic;
}

#inicio_header .logo_container img{
    height: 55px;
    width: auto;
    margin: 10px;
}

.nav-links{
    list-style: none;
}

.nav-links li{
    display: inline-block;
    padding: 0 20px;
}

.nav-links a{
    font-size: 20px;
    text-decoration: none;
    color: #000;
}

/* MAIN INICIO */

#main_inicio{
    grid-area:main;
    background-color: #008B8B;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.text-container{
    width: 500px;
    text-align: center;
}

.text-container h1{
    font-size: 55px;
    color :#000;
}

.text-container p{
    font-size: 30px;
    opacity: .8;
}
/* FOOTER */
#inicio_footer{
    grid-area:footer;
    background-color: #20B2AA;
    height: 50px;
}

.icons-container ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.icons-container ul li{
    margin-top: 13px;
    text-decoration: none;
    list-style:none;
}

.icons-container ul li a{
    color:#000;
}

/* MOBILE */

