*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Barra de navegacion */
header{
    background-color: #20B2AA;
}

.navbar-nav{
    margin-right: 30px;
}
/* MAIN DEL INICIO*/
#main_inicio{
    background-color: #008B8B;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.text-container{
    width: 500px;
    text-align: center;
}

.text-container h1{
    font-size: 55px;
    color :#000;
}

.text-container p{
    font-size: 30px;
    opacity: .8;
}

/* FOOTER */

#inicio_footer{
    grid-area:footer;
    background-color: #20B2AA;
    height: 50px;
}

.icons-container ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.icons-container ul li{
    margin-top: 13px;
    text-decoration: none;
    list-style:none;
}

.icons-container ul li a{
    color:#000;
}
.responsive{
    display: none;
}

@media (max-width:480px){
    /* FOOTER */
    .responsive_footer{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 10px;
    }

    .icons-container{
        display: none;
    }
}