*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Barra de navegacion */
header{
    background-color: #20B2AA;
}

.navbar-nav{
    margin-right: 30px;
}
/* MAIN DEL INICIO*/
#main_inicio{
    background-color: #008B8B;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.text-container{
    width: 500px;
    text-align: center;
}

.text-container h1{
    font-size: 55px;
    color :#000;
}

.text-container p{
    font-size: 30px;
    opacity: .8;
}



/* UBICACION */

#main-ubicacion{
    height: 100vh;
}

.ubicacion-container{
    background-color: #008B8B;
    display: flex;
    justify-content: start;
    height: 100%;
}

.ubicacion-mapa{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ubicacion-mapa iframe{
    height: 400px;
    width: 400px;
}

.ubicacion-direccion{
    display: flex;
    justify-content:center ;
    align-items: start;
    flex-direction: column;
}

/* SOBRE NOSOTROS */

#main-sobreNosotros{
    height: 100vh;
    width: 100%;
    background-color: #008B8B;
}

.sobreNosotros-container{
    width: 100%;
    height: 100%;
}

.sobreNosotros-container h2{
    text-align: center;
    padding: 35px 0;
}

.sobreNosotros-articles_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.horarios ul, .precios ul{
    list-style: none;
}

/* SERVICIOS */

#main-servicios{
    height: 100vh;
    width: 100%;
    background-color: #008B8B;
}

.servicios-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
}

.servicios-container article{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.servicios-container article img{
    height: 250px;
    width: 250px;
    display: block;
}

.servicios-container article span{
    text-align: center;
}


/* FOOTER */

#footer{
    background-color: #20B2AA;
    height: 50px;
}

.icons-container ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.icons-container ul li{
    margin-top: 13px;
    text-decoration: none;
    list-style:none;
}

.icons-container ul li a{
    color:#000;
}
.responsive_footer{
    display: none;
}

/* CONTACTO */

#main-contacto{
    height: 100vh;
    width: 100%;
    background-color: #008B8B;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container{
    height: 500px;
    width: 500px;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container h3{
    text-align: center;
    height: 25%;
    margin-top: 35px;
}

.nombre{
    height: 25%;
}

.nombre input{
    width: 450px;
}

.nombre label{
    display: block;
}

.mail{
    height: 25%;
}

.mail input{
    width: 450px;
}

.mail label{
    display: block;
}

.consulta{
    height: 25%;
}

.consulta textarea{
    min-height: 75px;
    width: 450px;
}

.consulta label{
    display: block;
}



@media (max-width:768px){
    /* FOOTER */
    .responsive_footer{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 10px;
    }

    .icons-container{
        display: none;
    }

    /* MAIN UBICACION */
    .ubicacion-container{
        display: flex;

        flex-direction: column;
        height: 100vh;
        width: 100%;
    }

    .ubicacion-mapa{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;

    }


    .ubicacion-mapa iframe{
        height:350px;
        width: 300px;
    }

    .ubicacion-direccion{
        display: flex;
        justify-content: start;
        align-items: start;
    }
}
